*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}
body{
    background-color: var( --very-dark-blue);
    height: 100%;
    overflow: hidden;
}
p{
    font-size: 25px;
    color: white;
    margin: 30px;
}
.container{
    display: flex;
    height: 50vh;
    flex-direction: row;
   
}
.containerone{
    height: 50vh;
    width: 100%;
    background-image: url('./images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.datload{
    height: 200px;
    width: 300px;
    margin-top: 230px;
    background-color:var(--dark-blue);
    margin-left: 180px;
    border-top-right-radius: 90px;
    
}
.progress{
    height: 200px;
    width: 700px;
    margin-top: 230px;
    background-color:var(--dark-blue);
    margin-left: 60px;
    border-radius: 10px;
}
.datload img{
    margin-top: 80px;
    margin: 20px;
    flex-direction: row;
}
.bar{
    width: 600px;
    height: 20px;
    background-color: grey;
    margin: 30px;
    margin-top: -80px;
    border-radius: 15px;
}
.innerbar{
    width: 400px;
    height: 20px;
    background-color: orangered;
   
    margin-top: 90px;
    border-radius: 15px;
}
.contents{
    display: flex;
    flex-direction: row;
}
.circle{
    height: 20px;
    width: 25px;
    background-color: rgb(255, 251, 250);
    border-radius: 15px;
    margin-left: auto;
}
#comment{
    height: 100px;
    width: 100px;
    margin-top: -1850px;
    margin-left: 500px;
    
}
#status{
    margin-top: -3px;
    margin-left: -3px;
}
#statusone{
    margin-left: 550px;
    margin-top: -55px;
}
#statusthree{
    margin-left: 520px;
    font-size: 10px;
}



