@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", sans-serif;
}
h1,
p {
  margin: 10px;
}
:root {
  --Black: hsl(0, 0%, 0%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --Very-vark-blue: hsl(220, 13%, 13%);
  --White: hsl(0, 0%, 100%);
}
.nav-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
}
.list {
  margin-left: 40px;
}
ul li {
  display: inline;
  font-size: 25px;
  list-style: none;
  margin: 30px;
}
.cart img {
  height: 40px;
  margin-left: 20px;
  width: 35px;
}
.cart {
  display: inline-flex;
  margin-left: 70px;
}
.line {
  background-color: var(--Dark-grayish-blue);
  height: 2px;
  margin: 10px;
  width: 99%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 500px;
  position: relative;
  width: 100%;
}
.row {
  display: block;
  width: 45%;
  height: 480px;
  margin: 20px;
  left: 0;
  position: initial;
  top: 0;
  width: 45%;
}
.product-img {
  border-radius: 15px;
  height: 300px;
  margin: 30px;
  width: 500px;
}
.opaimg img {
  height: 80px;
  margin: 20px;
  opacity: 0.5;
}
.opaimg img:hover {
  cursor: pointer;
  opacity: 1;
}

.opaimg img:focus {
  opacity: 1;
}
.discount {
  border: 1px solid orange;
  background-color: var(--Pale-orange);
  color: var(--Orange);
  height: 20px;
  margin-left: 30px;
  padding: 3px;
}
.pricetag {
  display: row;
  flex-direction: row;
}
.tag {
  width: 50%;
}
.counter {
  display: flex;
  flex-direction: row;
  margin: 30px;
}
.coloumn {
  border: 1px solid var(--Grayish-blue);
  background-color: var(--Light-grayish-blue);
  height: 45px;
  width: 45px;
}
.count {
  font-size: 30px;
  height: 45px;
  width: 45px;
}
.btncart {
  margin-left: 30px;
  width: 220px;
}
.btn-card {
  background-color: var(--Orange);
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  height: 45px;
  width: 220px;
}
.cartdisplay p {
  font-size: 15px;
}
.checkout {
  border: 1px solid var(--Light-grayish-blue);
  background-color: var(--White);
  display: flex;
  display: none;
  flex-direction: row;
  height: 200px;
  margin-left: 280px;
  margin-top: -150px;
  width: 250px;
}
.checkout-one {
  border: 1px solid var(--Light-grayish-blue);
  background-color: var(--White);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-left: 280px;
  margin-top: 200px;
  width: 330px;
  display: block;
  overflow: hidden;
}
.containerone {
  height: 80px;
  position: relative;
  width: 100%;
}
.displaytag {
  height: 80px;
  width: 5%;
}
.table {
  margin: 20px;
}
.table .head {
  margin-left: 30px;
}
.checkout-btn {
  border-radius: 10px;
  background-color: var(--Orange);
  border: 1px solid var(--Pale-orange);
  cursor: pointer;
  color: white;
  height: 20px;
  margin-top: -10px;
  margin: 10px;
  width: 300px;
}
.btncheckou {
  margin-top: -20px;
}
.checkout-none {
  border: 1px solid var(--Light-grayish-blue);
  background-color: var(--White);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-left: 280px;
  margin-top: -30px;
  width: 330px;
  overflow: hidden;
}
.empty-one {
  display: none;
}
.thumbnails {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.thumbnails .opaimg {
  margin-left: 350px;
}
.thumbnails .productimg {
  margin-top: 80px;
  margin-left: 350px;
}
#menu {
  display: none;
  height: 30px;
}
.mobilemenu {
  top: 340px;
}
@media only screen and (max-width: 1080px) {
  .container {
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
  }
  .list li {
    margin: 5px;
  }
  .row {
    width: 100%;
  }
  .checkout,
  .empty,
  .caritems {
    margin-top: 20px;
    margin-left: calc(100px - 10px);
    width: 80%;
  }
}
@media only screen and (max-width: 945px) {
  #menu {
    display: block;
  }
  .list {
    background-color: antiquewhite;

    height: 200px;
    margin-top: -230px;
    margin-left: -20px;
    position: absolute;

    width: 120%;
  }
  .list li {
    display: block;
  }
  .list li:hover {
    background-color: var(--Orange);
    cursor: pointer;
  }
  .cart {
    margin-left: auto;
  }
}
