@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/bg-stars.svg");
  background-color: rgb(51, 31, 51);
  font-family: "Manrope", sans-serif;
  height: 50vh;
  width: 100%;
}
h2 {
  text-align: center;
}
:root {
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
  --White: hsl(0, 0%, 100%);
}
.container {
  margin-top: 55px;
  width: 100%;
}
.containerone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}
.row {
  background-image: linear-gradient(
    to bottom,
    var(--Very-dark-blue),
    var(--Grayish-blue)
  );
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 180px;
  margin: 25px;
  width: 15%;
}
h1 {
  color: var(--Soft-red);
  font-size: 5vw;
  margin: 40px;
}
.con {
  border: 0px solid gray;
  border-radius: 20px;
  background-color: var(--Very-dark-blue);
  background-image: linear-gradient(
    to bottom,
    var(--Very-dark-blue),
    var(--Grayish-blue)
  );
  height: 180px;
  width: 100%;
}

h2 {
  color: whitesmoke;
  margin: 10px;
}
h3 {
  color: white;
  font-size: 2vw;
  margin: 30px;
  text-align: center;
}
.foot {
  margin-top: -220px;
  margin-left: 500px;
}
.foot img {
  margin: 30px;
}
@media only screen and (max-width: 500px) {
  .containerone {
    height: 180px;
    margin: 40px;
    width: 100%;
  }

  .row {
    height: 100px;
    margin: 20px;
    width: 20%;
  }
  #hill {
    margin-top: 80%;
    width: 100%;
  }
  .foot {
    display: inline-flex;
    margin-left: 80px;
  }
}
