* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./blueback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
/* th {
  border: 2px solid sandybrown;
}
thead {
  margin: 400px;
}
tbody {
  margin: 80px;
} */
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100px;
  background-color: #cecedf;
  /* background-image: url("./web.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  Background-image: linear-gradient(#00A4CCFF, rgb(151, 92, 59));
}
a {
  color: rgb(14, 4, 37);
  font-size: 25px;
  text-decoration-line: none;
}

td:hover {
  background-color: rgba(73, 70, 54, 0.616);
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0f04aa;
  color: white;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 0px solid #ddd; */
   padding: 8px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1504aa;
  color: white;
}
.container {
  margin: 80px;
}
