@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Dark-Gray: hsl(217, 19%, 24%);
  --Gray-Blue: hsl(217, 19%, 38%);
  --light-cyan: hsl(193, 38%, 86%);
  --Neon-green: hsl(150, 100%, 66%);
}
body {
  background-color: var(--Gray-Blue);
  text-align: center;
}
.container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  left: 100px;
}
.tips h1 {
  color: var(--Neon-green);
  margin-top: 5px;
  margin-bottom: 2px;
}
.divider img {
  margin-top: 180px;
  width: 100%;
}
.text {
  height: 200px;
  margin-top: 30px;
  width: 100%;
}
.text p {
  font-size: 30px;
  line-height: 0.1px;
}
button {
  border-radius: 80px;
  background-image: url("../images/icon-dice.svg");
  background-color: var(--Neon-green);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  height: 60px;
  width: 60px;
}

.divider {
  flex-direction: row;
  margin-top: 80px;
}
.text p {
  color: antiquewhite;
  font: bold;
  line-height: 1.5;
  margin-top: 20px;
}
.tips {
  border: 2px solid var(--Dark-Gray);
  border-radius: 15px;
  background-color: var(--Dark-Gray);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
}

.dice {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  margin-top: 8px;
  width: 40%;
}
.dice img {
  background-color: var(--Neon-green);
  border-radius: 20px;
  border: 1px solid var(--Neon-green);
  flex-direction: row;
  height: 10px;
  padding: 5px;
  position: relative;
  top: 4px;
  width: 10%;
}
.diceinner {
  background-color: aliceblue;
  height: 40px;
  margin-left: 100px;
  width: 30%;
}
@media only screen and (max-width: 638px) {
  .tips {
    width: 50%;
  }
}
@media only screen and (max-width: 496px) {
  .tips .dice {
    flex-direction: row;
  }
  .dice img {
    top: -10px;
    width: 25px;
  }
}
