   
        .center{
            text-align: center;
        }
        .large{
            text-align: large;
        }
        .medium{
            text-align: medium;
        }
        .small{
            text-align: small;
        }
        h3{
            background-color: brown;
            color: red;
        }
        ul li{
            color: red;
        }
        ul>li{
            color: rgb(16, 238, 116);
        }
        li{
            color: rgb(82, 105, 179);
        }
        h1,h3{
            color: white;
        }
        .item{
            color: blueviolet;
        }
        #listitem{
            color: chartreuse;

        }
        input[type="email"],input[type="submit"]
        {
            background-color:yellow;
            border: 10px solid yellow;
        }