@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  color: white;
}
section {
  height: 100vh;
}
:root {
  --Very-dark-desaturated-blue: hsl(222, 26%, 31%);
  --Very-dark-desaturated-blueone: hsl(223, 31%, 20%);
  --Very-dark-desaturated-bluetwo: hsl(224, 36%, 15%);

  --Desaturated-dark-blue: hsl(225, 21%, 49%);
  --Desaturated-dark-blue: hsl(224, 28%, 35%);

  --Red: hsl(6, 63%, 50%);
  --Dark-red: hsl(6, 70%, 34%);

  --Light-grayish-orange: hsl(30, 25%, 89%);
  --Grayish-orange: hsl(28, 16%, 65%);

  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0, 100%);

  --Light-gray: hsl(0, 0%, 90%);
  --Grayish-red: hsl(0, 5%, 81%);
  --Very-light-gray: hsl(0, 0%, 93%);

  --Dark-moderate-cyan-: hsl(185, 42%, 37%);
  --Very-dark-cyan: hsl(185, 58%, 25%);

  --Orange: hsl(25, 98%, 40%);
  --Dark-orange: hsl(25, 99%, 27%);

  --Light-grayish-yellow: hsl(45, 7%, 89%);
  --Dark-grayish-orange: hsl(35, 11%, 61%);

  --Very-dark-violet: hsl(268, 75%, 9%);
  --Very-dark-violet: hsl(268, 71%, 12%);
  --Dark-violet: hsl(281, 89%, 26%);
  --Vivid-magenta: hsl(285, 91%, 52%);

  --Pure-cyan: hsl(176, 100%, 44%);
  --Soft-cyan: hsl(177, 92%, 70%);

  --Very-dark-violet: hsl(268, 47%, 21%);
  --Dark-magenta: hsl(290, 70%, 36%);

  --Light-yellow: hsl(52, 100%, 62%);
  --Very-dark-blue: hsl(198, 20%, 13%);
  --White: hsl(0, 0, 100%);
}
body {
  background-color: var(--Very-dark-desaturated-blue);
  font-family: "Manrope", sans-serif;
}
.container,
.screen,
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.row {
  height: 600px;
  width: 40%;
  margin: 10px;
}
.window {
  height: 70px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--Very-dark-desaturated-bluetwo);
}
.buttons {
  height: 40px;
  width: 100px;
  margin: 8px;
  padding: 40px;
}
.btn {
  height: 40px;
  width: 100px;
  /* border: 1px solid sienna; */
}
.button-row {
  border-radius: 10px;
  background-color: var(--Very-dark-desaturated-blueone);
}
button {
  background-color: white;
  border-radius: 20px;

  cursor: pointer;
  color: var(--Very-dark-desaturated-bluetwo);
  font-size: 35px;
  border: white;
  text-align: center;
}
.text {
  display: none;
}
.themeone button {
  border: white;
  color: var(--Light-yellow);
  box-shadow: 2px 3px white;
  background-color: var(--Vivid-magenta);
}
.themeone .button-row {
  background-color: var(--Very-dark-violet);
}
.themeone .window {
  background-color: var(--Very-dark-violet);
}
.themetwo button {
  border: white;
  color: var(--Very-dark-desaturated-bluetwo);
  box-shadow: 2px 3px white;
  background-color: var(--Grayish-orange);
}
.themetwo .button-row {
  background-color: var(--Light-gray);
}
.themetwo .window {
  background-color: var(--Very-light-gray);
}
.themetwo h1,
h2 {
  color: var(--Very-dark-desaturated-bluetwo);
}
.themeone h1,
h2 {
  color: var(--Light-yellow);
}
.themeone {
  background-color: var(--Dark-violet);
}
.themetwo {
  background-color: var(--Grayish-red);
}
#rst {
  background-color: var(--Desaturated-dark-blue);
  width: 40%;
}
#equals {
  width: 40%;
}
@media only screen and (max-width: 873px) {
  .button-row,
  .screen {
    width: 500px;
  }
  .container {
    margin-left: -30%;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    width: 500px;
    margin-left: -40%;
    margin-top: 100px;
  }
}
