@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, auto;
  background-position: 1000px, -100px 330px;
  font-family: "Manrope", sans-serif;
}
:root {
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
}
.switch {
  display: inline-block;
  height: 34px;
  margin: 20px;
  position: relative;
  width: 60px;
}

.switch input {
  height: 0;
  width: 0;
  opacity: 0;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  width: 26px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
h3 {
  display: block;
  font-size: 35px;
  margin: 20px;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin: 20px;
  text-align: center;
}
h4 {
  display: none;
  font-size: 30px;
  margin: 20px;
  text-align: center;
}
p {
  font-size: 20px;
  margin: 20px;
  text-align: center;
}
.container {
  margin: 10px;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.box {
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-top: 150px;
  justify-content: center;
}
.section {
  border-radius: 15px;
  height: 460px;
  width: 30%;
}

.line {
  background-color: gray;
  height: 2px;
  margin: 10px;
  width: 90%;
}

.first,
.three {
  border: 1px solid var(--Grayish-Blue);
  background-color: var(--Very-Light-Grayish-Blue);
}
.btn {
  border-radius: 5px;
  background-color: var(--Very-Light-Grayish-Blue);
  cursor: pointer;
  color: var(--Dark-Grayish-Blue);
  font-size: 25px;
  height: 45px;
  width: 100%;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.one {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  height: 510px;
  margin-top: -25px;
}
.toggleswich {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-learn {
  background-color: aliceblue;
  height: 30px;
  margin: 20px;
  width: 90%;
}
@media only screen and (max-width: 760px) {
  .box {
    flex-direction: column;
    margin-left: -20px;
  }
  .section {
    height: 500px;
    margin: 35px;
    width: 100%;
  }
}
#selectorbar {
  background-color: blue;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 80px;
  justify-content: flex-end;
}
#selectball {
  border-radius: 30px;
  background-color: white;
  height: 39px;
  margin: 1px;
  width: 40px;
}
#selectball:hover {
  opacity: 0.8;
}
.monthly {
  display: block;
}

@media only screen and (max-width: 414px) {
  #selectball {
    width: 20px;
  }
}
