* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark-blue: hsl(228, 56%, 26%);
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --grayish-blue: hsl(229, 7%, 55%);
  --pale-blue: hsl(243, 100%, 93%);
  --very-dark-blue: hsl(229, 57%, 11%);
}
body {
  background-color: var(--very-dark-blue);
  height: 100%;
  overflow: hidden;
}
p {
  color: white;
  font-size: 25px;
  margin: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  height: 50vh;
}
.containerone {
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}
.datload {
  background-color: var(--dark-blue);
  border-top-right-radius: 90px;
  height: 200px;
  margin-top: 230px;
  margin-left: 180px;
  width: 300px;
}
.progress {
  background-color: var(--dark-blue);
  border-radius: 10px;
  height: 200px;
  margin-top: 230px;
  margin-left: 60px;
  width: 700px;
}
.datload img {
  flex-direction: row;
  margin-top: 80px;
  margin: 20px;
}
.bar {
  background-color: grey;
  border-radius: 15px;
  height: 20px;
  margin: 30px;
  margin-top: -80px;
  width: 600px;
}
.innerbar {
  background-color: orangered;
  border-radius: 15px;
  height: 20px;
  margin-top: 90px;
  width: 400px;
}
.contents {
  display: flex;
  flex-direction: row;
}
.circle {
  background-color: rgb(255, 251, 250);
  border-radius: 15px;
  height: 20px;
  margin-left: auto;
  width: 25px;
}
#comment {
  height: 100px;
  margin-top: -1850px;
  margin-left: 500px;
  width: 100px;
}
#status {
  margin-top: -3px;
  margin-left: -3px;
}
#statusone {
  margin-left: 550px;
  margin-top: -55px;
}
#statusthree {
  font-size: 10px;
  margin-left: 520px;
}
#remainingdata {
  background-color: white;
  /* border-bottom-right-radius: 55px 55px; */
  color: black;
  height: 100px;
  margin-top: -120px;
  margin-left: 60%;
  width: 200px;
}
#commentline {
  background-color: white;
  border-bottom-left-radius: 25px;
  height: 40px;
  margin-left: 92%;
  margin-top: 70px;
  width: 15px;
}
