*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
}
.container{
    display: flex;
}
.coloumn{
    flex-direction: row;
    width: 700px;
    height: 300px;
    background-color: var(--moderate-violet);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 20px;
}
.coloumn-one{
    flex-direction: row;
    width: 300px;
    height: 300px;
    background-color: var(--very-dark-grayish-blue);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    margin: 20px;
}
.coloumn-three{
    flex-direction: row;
    width: 400px;
    height: 700px;
    background-color: var(--very-dark-grayish-blue);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    margin: 20px;
    box-shadow: 2p 4px 5px black;
}
.coloumn-four{
    flex-direction: row;
    width: 300px;
    height: 380px;
    background-color: rosybrown;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    margin: 20px;
    margin-top: -400px;
}
.coloumn-five{
    flex-direction: row;
    width: 600px;
    height: 380px;
    background-color:palevioletred;
    margin: 20px;
    margin-left: 350px;
    margin-top: -400px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.dan-img{
    height: 50px;
    width: 40px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.name{
    height: 50px;
    width: 260px;
    margin-left: 80px;
    margin-top: -55px;
}
.name p{
    font-size: 20px;
}
.jona-img{
    height: 50px;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px;
}
.name-one{
    height: 50px;
    width: 160px;
    margin-left: 60px;
    margin-top: -55px;
}
.kira-img{
    height: 50px;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px;
}
.name-two{
    height: 50px;
    width: 160px;
    margin-left: 60px;
    margin-top: -55px;
}
.patrik-img,.har-img{
    height: 50px;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px;
}
.name-three,.name-four{
    height: 50px;
    width: 160px;
    margin-left: 60px;
    margin-top: -55px;
}
.para,.para-1{
    height: 40px;
    width: 500px;
    margin: 35px;
    font-size: 15px;
    font: bold;
}
.para-five{
    margin: 50px;
}
.para-two{
    margin: 20px;
}
.para-three{
    margin: 50px;
}
.para-four{
    margin: 50px;
}
.head{
    font-size: 20px;
    font-weight: bold;
}
#highlight{
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;
}
.quote{
    height: 80px;
    width: 60px;
    margin-top: -220px;
    margin-left: 500px;
}