@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --soft-Pink: hsl(333, 80%, 67%);
  --very-dark-magenta: hsl(300, 43%, 22%);
  --White: hsl(0, 0%, 100%);
}
.checked {
  color: orange;
}
body {
  background-color: wheat;
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
}
h1 {
  color: var(--soft-Pink);
  margin: 10px;
}
p {
  color: var(--White);
}
.container {
  height: 50vh;
  width: 100%;
}
.container-one {
  height: 50vh;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-one img {
  height: 50vh;
  width: 100%;
}
.coloumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 180px;
  margin-top: -50vh;
}
.section {
  height: 80vh;
  width: 350px;
}
.sec-one,
.sec-two,
.sec-three {
  height: 40vh;
  width: 350px;
}
.innersection {
  display: flex;
  flex-direction: row;
}
.card {
  background-color: var(--very-dark-magenta);
  height: 200px;
  margin-top: 100px;
  margin: 10px;
  width: 300px;
}
#cardone {
  margin: 30px;
}
#cardtwo {
  margin: 40px;
}
.stars {
  display: flex;
  flex-direction: row;
}
.stars p {
  color: var(--very-dark-magenta);
  margin-left: 10px;
}
.sec-one p,
.card p {
  color: var(--Light-Grayish-Magenta);
  margin: 10px;
}
#pimg {
  border-radius: 40px;
  height: 35px;
  margin: 2px;
  width: 35px;
}
.contact {
  display: flex;
  flex-direction: row;
}
