@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: var(--very-dark-blue);
    font-family: 'Manrope', sans-serif;
}
h1{
    margin: 10px;
    color: var(--White);
    
}
p{
    margin: 10px;
    color: var(--soft-blue);
}
:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue: hsl(217, 54%, 11%);
--very-dark-blue: hsl(216, 50%, 16%);
--Very-dark-blue: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}
.box{
    height: 600px;
    width: 400px;
    background-color: var(--Very-dark-blue);
    margin-top: 10px;
    border-radius: 15px;

}
.container{
    display: flex;
    justify-content: center;
}
.component{
    height: 350px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;

}
.component img{
    height: 300px;
    width: 380px;
    border-radius: 10px;
}
.contents{
    margin-top: -20px;
}
.tag{
    display: flex;
    flex-direction: row;
   
}
.rows{
    height: 50px;
    width:180px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    
}
.rows img{
    margin: 10px;
  
}
.rows p{
    font-size: 20px;
}
#eth{
    color: var(--cyan);
}
.footrow{
    display: flex;
    
}
.foot-row{
    height: 50px;
    width:280px;
    margin: 10px;
    display: flex;
    
}
.line{
    width: 400px;
    height: 2px;
    background-color: var(--cyan);
}
.foot-row img{
    height: 50px;
    width: 50px;
}
.foot-row p{
    margin: 10px;
}

