@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
   --light-cyan: hsl(193, 38%, 86%);
    --Neon-green : hsl(150, 100%, 66%);
    --Gray-Blue: hsl(217, 19%, 38%);
    --Dark-Gray:  hsl(217, 19%, 24%);
}
body{
    text-align: center;
    background-color:var(--Gray-Blue);
}
.container{
    display: flex;
    margin-top:100px;
    left: 100px;
    justify-content: center;
}
.tips h1{
    color: var(--Neon-green);
    margin-top: 5px;
    margin-bottom: 2px;
}
.divider img{
        width: 100%;
        margin-top: 180px;
}
.text{
    margin-top: 30px;
    height: 200px;
    width: 100%;
   
}
.text p{
    font-size: 30px;
    line-height: 0.1px;
   
}
button{
    height: 60px;
    width: 60px;
    border-radius: 80px;
    background-image: url('../Advice/images/icon-dice.svg');
    background-color: var(--Neon-green);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    
}

.divider{
    flex-direction: row;
    margin-top: 80px;
    
}
.text p{
    margin-top: 20px;
    line-height: 1.5;
    font: bold;
    color: antiquewhite;
}
.tips{
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--Dark-Gray);
    height: 600px;
    width: 50%;
    margin-top:30px;
    margin-bottom: 30px;
    border: 2px solid var(--Dark-Gray);
    border-radius: 15px;
    justify-content: center;
    display: flex;
    
    

}

.dice{
    height: 100px;
    width: 40%;
    justify-content: center;
    
    margin-top: 8px;
    flex-direction: row;
    
    
    display: flex;
}
.dice img{
    height: 10px;
    width: 10%;
    position: relative;
    border: 1px solid var(--Neon-green);
    top: 4px;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--Neon-green);
    flex-direction: row;
   
}
.diceinner{
    margin-left: 100px;
    height: 40px;
    width: 30%;
    background-color: aliceblue;
}
@media only screen and (max-width: 638px) {
    .tips {
        width: 50%;
    }
  }
  @media only screen and (max-width: 496px) {
    .tips .dice{
        flex-direction: row;
    }
    .dice img{
        top:-10px;
        width: 25px;
    }
   
  }