* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/blueback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#customers {
  background-color: #cecedf;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  background-image: linear-gradient(#00a4ccff, rgb(151, 92, 59));
  border-collapse: collapse;

  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
}
a {
  color: rgb(14, 4, 37);
  font-size: 25px;
  text-decoration-line: none;
}

td:hover {
  background-color: rgba(73, 70, 54, 0.616);
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers th {
  background-color: #0f04aa;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
#customers {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#customers td,
#customers th {
  border: 0px solid #ddd;
  padding: 8px;
}

#customers th {
  background-color: #1504aa;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.container {
  margin: 80px;
}
/* blog page */
