* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  background-image: url("../images/web-developmentcover.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: auto;
  width: 100%;
}
.flipcontainer {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}
.flipcard {
  display: flex;
  flex-direction: row;
  width: 650px;
  height: 300px;
  padding: 20px;
}
.flipcardinner {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #d62a8e;
  transition: transform 0.8s;
  left: 40%;
}
.flipcard:hover .flipcardinner {
  background-color: blueviolet;
  transform: rotateY(180deg);
}
