@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Open+Sans:ital,wght@0,600;0,700;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}
html,
body {
  background-color: white;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
.nav-container {
  height: 40vh;
  width: 100%;
}
.nav {
  display: flex;
}
.insidenav {
  display: flex;
  flex-direction: row;
  height: 10vh;
  margin-top: 5vh;
  width: 100%;
}
.insidenav img {
  height: 50px;
  margin-left: 10px;
  width: 300px;
}
.btn-try {
  border-radius: 35px;
  border: 2px solid var(--pink);
  background-color: white;
  color: var(--light-pink);
  font-size: 35px;
  height: 7vh;
  width: 200px;
  font-size: 35px;
}
.btn-try:hover,
.btn-join:hover {
  box-shadow: 4px 3px 5px pink;
  background-color: rgb(226, 218, 219);
}
.navbtn {
  flex-direction: row;
  height: 10vh;
  margin-left: auto;
  margin-right: 25px;
  width: 300px;
}

.maindescription {
  color: rgb(192, 55, 20);
  flex-direction: row;
  font-size: 35px;
  height: 30vh;
  margin-left: 10%;
  width: 80%;
}

.join {
  flex-direction: column;
  height: 100px;
}
.btn-join {
  background-color: var(--light-pink);
  border: 2px solid var(--pink);
  border-radius: 35px;
  color: white;
  flex-direction: row;
  font-size: 25px;
  height: 70px;
  width: 270px;
}

.sectiontwo {
  background-color: blueviolet;
}
.community,
.started {
  display: flex;
  justify-content: center;
}
.communityone img {
  height: 40px;
  width: 40px;
}
.main {
  height: 800px;
  width: 100%;
}
.communitygroup {
  display: flex;
}
.community-group {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
}
.group {
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
  width: 50%;
}
.group h1 {
  font-size: 160px;
  text-align: center;
}
.group p {
  font-size: 50px;
  text-align: center;
}
.group img {
  margin-left: 35px;
  margin-top: 10px;
}
.discussion {
  background-color: white;
  height: 600px;
}
.dis-groupone {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.dis-grouptwo {
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 100%;
}
.dis-content {
  background-color: var(--very-pale-blue);
  display: flex;
  height: 580px;
  margin-top: -10px;
}
.dis-content-one {
  flex-direction: row;
  height: 400px;
  width: 50%;
}
.dis-content-one img {
  flex-direction: row;
  height: 400px;
}
.dis-content-one p {
  font-size: 35px;
  line-height: 1.5;
  margin-top: 15px;
  margin-left: 25px;
  font-size: 35px;
}
.dis-content-one h1 {
  font-size: 65px;
  margin-left: 20px;
}
.dis-groupthree {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
.dis-group-three {
  border: 1px solid white;
  height: 400px;
  width: 50%;
}
.flowimg {
  height: 400px;
  margin-left: 20px;
  width: auto;
}
.dis-group-three h1 {
  font-size: 65px;
}
.dis-group-three p {
  font-size: 35px;
  margin-top: 15px;
  line-height: 1.5;
}
.dis-groupfour {
  margin-top: 250px;
}
.dis-group-four {
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  margin-top: 30px;
  width: 100%;
}
.dis-group-four-sec2 {
  background-image: url("../images/bg-section-bottom-desktop-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 100%;
}
.dis-content-four {
  background-color: var(--very-pale-blue);
  display: flex;
  flex-direction: row;
  height: 400px;
  margin-top: -240px;

  width: 100%;
}

.dis-content-four-content,
.dis-content-four-content img {
  height: 300px;
  width: 100%;
}
.dis-content-four-content h1 {
  font-size: 55px;
  margin-left: 25px;
}
.dis-content-four-content p {
  font-size: 35px;
  margin-left: 25px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;

  margin-top: -290px;
  height: 200px;
  width: 100%;
}
.register h1 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: row;
  margin-top: -400px;
}
.foot-img {
  background-image: url("../images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 100%;
}
.footend {
  margin-top: 4300px;
}
.foot-one {
  background-color: var(--very-dark-cyan);
  height: 400px;
  width: 100%;
}
.foot-one p {
  font-size: 30px;
  line-height: 1.5;
  margin-left: 15px;
}
.foot-one h1 {
  margin-left: 15px;
}
input[type="search"] {
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
  width: 350px;
}
.search {
  background-color: var(--pink);
  color: white;
  height: 40px;
  width: 200px;
}
.growtog {
  height: 200px;
  margin-top: 130px;

  width: 100%;
}
.illusgrow,
.user,
.sec2 {
  height: 200px;
  width: 100%;
}

.fimg {
  height: 100px;
  width: 100%;
}
@media only screen and (max-width: 770px) {
  .footer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 770px) {
  .dis-content-four {
    flex-direction: column-reverse;
  }
}
