@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--Dark-blue);
}
h2 {
  font-size: 20px;
  color: white;
}
h1 {
  font-size: 30px;
  color: white;
}
p {
  font-size: 25px;
  color: whitesmoke;
}
:root {
  --Blue: hsl(246, 80%, 60%);

  --Light-red: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-redone: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
.grid-container {
  display: grid;
  grid-template-columns: 255px auto auto auto;
  /* grid-template-rows: auto auto; */

  margin: 130px;
  margin-top: 100px;
  margin-left: 100px;
  grid-gap: 30px;
  padding: 20px;
}
#activities {
  margin-left: 80px;
}
.grid-item {
  background-color: var(--Soft-orange);
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
  display: grid;
  border-radius: 20px;
}
.one {
  grid-row: span 2;
  display: flex;
  grid-column: span 1;
  flex-direction: column;
}
.head {
  height: 60px;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: var(--Soft-orange);
  margin-top: -50px;
  height: 60px;
}

.heading {
  width: 100%;
  height: 60px;
  display: flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.heading img {
  height: 10px;
  width: 20px;
  margin-left: auto;
  margin-top: 30px;
}
.heading h2 {
  margin: 10px;
}
.profile {
  height: 400px;
  width: 250px;
  background-color: var(--Blue);
  border-radius: 15px;
  margin-top: -1px;
}
ul li {
  list-style: none;
  margin: 20px;
  text-align: left;
  cursor: pointer;
}
.active {
  color: white;
}
li:hover {
  color: aliceblue;
}
.profile img {
  height: 80px;
  width: 80px;
  margin: 30px;
}
#h1 {
  background-color: var(--Light-red);
}
#h2 {
  background-color: var(--Soft-blue);
}
#h3 {
  background-color: var(--Light-redone);
}
#h4 {
  background-color: var(--Lime-green);
}
#h5 {
  background-color: var(--Violet);
}
#h6 {
  background-color: var(--Soft-orange);
}
/* .sec2,
.header {
  background-color: var(--Very-dark-blue);
} */

.heading {
  background-color: var(--Very-dark-blue);
}
.grid-item {
  background-color: var(--Very-dark-blue);
}

@media only screen and (max-width: 976px) {
  .grid-container {
    margin-left: -5px;
  }
}
@media only screen and (max-width: 870px) {
  .grid-container {
    margin-left: -4px;
  }
  .one {
    /* grid-row: span 2; */
    grid-column: 1/5;
  }
  .profile {
    width: 100%;
    height: 300px;
  }
  .option {
    height: 90px;
  }
  .two {
    grid-column: 1/5;
    height: 300px;
  }
  .three {
    grid-column: 1/5;
    height: 300px;
  }
  .four {
    grid-column: 1/5;
    height: 300px;
  }
  .five {
    grid-column: 1/5;
    height: 300px;
  }
  .six {
    grid-column: 1/5;
    height: 300px;
  }
  .seven {
    grid-column: 1/5;
    height: 300px;
  }
  ul li {
    display: inline;
    margin: 2px;
    font-size: 20px;
    padding: 5px;
  }
}
