@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish-cyan: hsl(189, 41%, 97%);
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Dark-grayish-cyan);
  font-family: "Manrope", sans-serif;
}
.container {
  background-color: white;
  border-radius: 35px;
  border: 2px solid seagreen;
  display: flex;
  flex-direction: row;
  height: 540px;
  justify-content: center;
  margin: 40px;
  margin-top: 55px;
}
.section {
  height: 500px;
  margin: 10px;
  width: 40%;
}
.tipbutton {
  margin-top: 20px;
  margin-left: 20px;
}
h1 {
  margin: 20px;
}
button {
  height: 40px;
  margin: 10px;
  width: 120px;
}
.active {
  background-color: var(--Strong-cyan);
}
input {
  border-radius: 20px;
  border: 1px solid var(--Dark-grayish-cyan);
  font-size: 20px;
  height: 40px;
  margin: 10px;
  width: 460px;
  text-align: center;
}
.bilimg {
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}
.persons {
  background-image: url("./images/icon-person.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}
.tipdisplay {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
.tipsection {
  height: 100px;
  width: 50%;
}
.bil,
.tip,
.people {
  margin-top: 25px;
}
.btn {
  flex-direction: row;
}
.rstbtn {
  background-color: var(--Strong-cyan);
  margin: 50px;
  width: 350px;
}
.btncol {
  background-color: var(--Light-grayish-cyan);
}
button {
  border-radius: 12px;
  background-color: var(--Very-dark-cyan);
  color: white;
  font-size: 25px;
}
#display {
  background-color: var(--Very-dark-cyan);
  border-radius: 25px;
}
button:focus {
  background-color: var(--Strong-cyan);
}
@media only screen and (max-width: 980px) {
  .container {
    flex-direction: column;
    height: 600px;
    margin-top: 100px;
    width: 400px;
  }
  .section {
    height: 350px;
    width: 380px;
  }
  input {
    height: 30px;
    margin-top: -20px;
    width: 350px;
  }
  #display {
    height: 200px;
    width: 380px;
  }
  .tip {
    height: 150px;
    margin-top: -80px;
  }
  .tipsection {
    height: 30px;
    margin-top: -30px;
  }
  .people {
    margin-top: 18px;
  }
  .bil {
    margin-top: -100px;
  }
  .tipdisplay {
    height: 20px;
  }
  .rstbtn {
    margin-top: -150px;
    margin-left: 15px;
    width: 330px;
  }
  .tipbutton {
    height: 150px;
    margin-top: 10px;
  }
  h1 {
    margin: 10px;
  }
}
