@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
.box{
    width: 100%;
    height: 1000px;
    background-color: whitesmoke;
}
body{
    font-family: 'Manrope', sans-serif;
}
:root{
    --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);
--light-grayish-violet: hsl(270, 20%, 96%);
--very-dark-desaturated-violet: hsl(271, 36%, 24%);
--Very-light-magenta: hsl(289, 100%, 72%);
}
.box-one{
    width: 400px;
    height: 700px;
    margin-left: 50px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 380px 150px;
    background: linear-gradient(to right, var(--light-magenta),var(--light-violet));

}
.phone{
    height: 600px;
    width: 300px;
    background-color: var(--light-grayish-violet);
    margin-top: -650px;
    margin-left: 400px;
    border-radius: 25px;
    border: solid var(--light-violet);
}
.layout{
    height: 580px;
    width: 280px;
    background-color: var(--light-grayish-violet);
    margin: 10px;
    border-radius: 25px;
    
}
.head{
    height: 90px;
    width: 150px;
    background: linear-gradient(to right, var(--light-magenta),var(--light-violet));
    border-radius: 12px;
    width: 280px;
}
.space{
    height: 40px;
    width: 170px;
    background-color: white;
    margin-left: 50px;
    border-radius: 10px;
}
.contact{
    height: 40px;
    width: 280px;
    background: linear-gradient(to right, var(--light-magenta),var(--light-violet));
   
  
}
.arrow{
    height: 15px;
    width: 13px;
    margin-left: 7px;
    margin-top: 20px;
    border-radius: 5px;
}
.person{
    height: 30px;
    width: 43px;
    margin-left: 7px;
    border-radius: 15px;
    
}
#name{
    margin-left: 80px;
    font-size: 18px;
    margin-top: -30px;
}
#reason{
    margin-left: 80px;
    font-size: 9px;
    margin-top: -30px;
}
.dots{
    margin-left: 230px;
    margin-top: -45px;
}
.dots img{
    height: 30px;
}
.chats{
    display: flex;
    flex-direction: column;
}
.chating{
    width: 200px;
    height: 50px;
    margin: 8px;
    background-color: rgb(182, 172, 172);
}
.chating p{
    font-size: 10px;
}
.dogimg{
    margin-left: 150px;
}
.dogimg img{
    height: 35px;
    width: 35px;
    border-radius: 15px;
}
.chating-one{
    width: 200px;
    height: 30px;
    margin-left: 80px;
    background-color: rgb(182, 172, 172);

}
.chating-one,.chaththree p{
    font-size: 12px;
}
.chaththree{
    width: 200px;
    height: 50px;
    margin: 8px;
    background-color: rgb(182, 172, 172);
}
input[type="search"]
{
    height: 30px;
    width: 240px;
    border-radius: 15px;
    border: solid var(--very-dark-desaturated-violet)
}
#imp{
    background: linear-gradient(to right, var(--light-magenta),var(--light-violet));
    
}
#imptxt{
    font-size: 20px;
}
#rightarrow{
    height: 15px;
}
.information{
    height: 400px;
    width: 500px;
    background-color:  var(--light-grayish-violet);
    margin-left: 800px;
    margin-top: -800px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}
.information p{
    color: var(--very-dark-desaturated-violet);
}
.information h1{
    color: brown;
}