@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
body{
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: var(--Light-Gray);
}
.container{
    display: flex;
    justify-content: center;
    
    

}
.box{
    display: flex;
    flex-direction:column;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.innerbox{
    width: 700px;
    height: 300px;
    background-color: white;
}
.innerbox h1{
    color: var(--Cyan);
    font-size: 35px;
}
.innerbox h2{
    color: var(--Bright-Yellow);
}
.innerbox-one{
   
    background-color: var(--Cyan);
    display: flex;
    flex-direction: row;
}
.innerbox-one h1{
    color: white;
    font-size: 25px;
}
.row{
    width: 350px;
    height: 300px;

}
h1,h2,p{
    margin:10px;
}
button{
    width: 200px;
    height: 50px;
    margin: 30px;
    background-color: var(--Bright-Yellow);
    border-radius: 6px;
    border: 1px solid var(--Bright-Yellow);
    font-size: 20px;
}
button:hover{
    box-shadow: 6px 3px 4px var(--Bright-Yellow);
    cursor: pointer;
}