@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: var(--Very-Light-Gray);
}
h1{
    margin: 20px;
    font-size: 35px;
    background-color: whitesmoke;
}
p{
    margin: 20px;
    font-size: 15px;
    background-color: whitesmoke;
}
:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row{
    margin-top: 150px;
    height: 550px;
    width: 350px;
    border: 1px solid rgb(235, 225, 219);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card{
    height: 250px;
    width: 330px;
    border: 1px solid rgb(235, 225, 219);

    margin-top: 100px;
    margin-left: 5px;
    background-color: whitesmoke;
}
.scard-1,.scard-2{
    height: 250px;
    width: 330px;
    border: 1px solid rgb(235, 225, 219);

    margin: 15px;
    margin-left: 5px;
    background-color: whitesmoke;
}
.line{
    height: 8px;
    width: 330px;
    background-color: var(--Cyan);
}
.line-2{
    height: 8px;
    width: 330px;
    background-color: var(--Orange);
}
.line-3{
    height: 8px;
    width: 330px;
    background-color: var(--Blue);
}
.line-1{
    height: 8px;
    width: 330px;
    background-color: var(--Red);
}
.logo img{
    margin-left: 310px;
    margin: 10px;
    border-radius: 40px;
    height: 30px;
}
.logo{
    margin-left: 260px;
    border-radius: 40px;
    margin-top: -10px;
}
.header{
    text-align: center;
    background-color: var(--Very-Light-Gray);
}